body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #7d5bdd;
    line-height: 1.6;
}

nav {
    background: #6e1c56;
  
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    background: rgb(255, 255, 255);
    margin: 8px;20px;
    padding: 20px;
    border-radius: 
}

h1, h2 {
    color: #050505;
}

.project {
    background: #3d87b8;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}



.skills-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.skills-list li {
    background:#009688;
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 20px;
    list-style: none;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
