body {
    font-family: Arial, sans-serif;
    background: #ffffffa4;
    
    background: url("https://media.istockphoto.com/id/1979289147/photo/data-analysis-science-and-big-data-with-ai-technology-analyst-or-scientist-uses-a-computer.jpg?s=2048x2048&w=is&k=20&c=CnYhOjeTPisYsN-OLYVp60ZNKK3jP3JCPZrCjxCqmto=")
    no-repeat center / cover;


}

.container {
    width: 400px;
    margin: 250px auto;
    background: rgb(106, 52, 156);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #FFCDD2;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    flex: 1;
}

.edit-input {
    width: 100%;
    padding: 5px;
}

.action-buttons button {
    margin-left: 5px;
}
